body {
  font: 15px "Century Gothic", Futura, sans-serif;
  margin: 0em;
  background-image: url("two-pandas.jpg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: fixed;
}

.game-column {
  float: left;
  margin: 1em;
  width: 60%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #e5e5e5;
  border: 1px solid #d6d0d0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2em;
}

.board {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

.intro {
  text-align: center;
  margin: 3em;
  display: block;
}
