body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 180px;
  margin-top: 40px;
  background-image: url("two-pandas-watercolor-painting-joanna-szmerdt.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #e5e5e5;
  border: 1px solid #d6d0d0;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.reference {
  
}
